# Build and Release Folders
bin-debug/
bin-release/

*/__pycache__
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.so
*.pyc
*.pyd
*.so
# gpu lock
*.glock
*.mp3
*.png

# pytorch model
*.pt
core
TODO
__pycache__/
./build/
Algorithm/Starcraft/result/
Algorithm/Starcraft/model/
ZipResults/
Visualize/train no aWiseAttn
Visualize/train-half-death-reward
ZipResults/Starcraft/
result
# .vscode/
forattack-train/
full-cargo/
T*/
checkpoint/*

temp/
RECYCLE/
temp/
test_only_*.py
test_only_log
test_only_profile.txt
test_only_profilex.txt
debug_change_self_n_agent.json.profile.txt
debug2-2500pt-test_only_profile.txt
test_only_logdebug_change_self_n_agent.json.log
test_only_profiledebug_change_self_n_agent.json.txt
xx_profile_n_agents2.py
xx_profile_n_agents3.py
xx_profile_n_agents4.py
Util/keys.py
private*.jsonc
private*.py
fqx*.jsonc
my_*.jsonc
result.prof
ignore
bvrAI.log
checkpoint/*

!thirdparty
thirdparty/*
!thirdparty/__init__.py
!thirdparty/pymarl2
thirdparty/pymarl2/*
!thirdparty/pymarl2/__init__.py
!thirdparty/mappo
thirdparty/mappo/*
!thirdparty/mappo/__init__.py

!checkpoint/test-50+50
checkpoint/test-50+50/*
!checkpoint/test-50+50/model.pt
!checkpoint/test-50+50/experiment.json
!checkpoint/test-50+50/test-50+50.jsonc
!checkpoint/test-50+50/test50.gif

!checkpoint/test-100+100
checkpoint/test-100+100/*
!checkpoint/test-100+100/model.pt
!checkpoint/test-100+100/experiment.json
!checkpoint/test-100+100/test-100+100.jsonc

!checkpoint/50RL-55opp
checkpoint/50RL-55opp/*
!checkpoint/50RL-55opp/test-50RL-55opp.jsonc
!checkpoint/50RL-55opp/model.pt
checkpoint/50RL-55opp/experiment.json

!checkpoint/test-cargo50
checkpoint/test-cargo50/*
!checkpoint/test-cargo50/model.pt
!checkpoint/test-cargo50/experiment.json
!checkpoint/test-cargo50/test-cargo50.jsonc
!checkpoint/test-cargo50/cargo50.jpg

!checkpoint/test-cargo50/history_cpt
checkpoint/test-cargo50/history_cpt/*
!checkpoint/test-cargo50/history_cpt/init.pkl

!checkpoint/test-50+50/butterfly.webp

!checkpoint/test-aii515
checkpoint/test-aii515/*
!checkpoint/test-aii515/model.pt
!checkpoint/test-aii515/experiment.json
!checkpoint/test-aii515/test-aii515.jsonc
!checkpoint/test-aii515/aii.jpg

!checkpoint/test-aii515/history_cpt
checkpoint/test-aii515/history_cpt/*
!checkpoint/test-aii515/history_cpt/init.pkl

!checkpoint/basic-ma-40-demo
checkpoint/basic-ma-40-demo/*
!checkpoint/basic-ma-40-demo/trained_model.pt
!checkpoint/basic-ma-40-demo/train.json
!checkpoint/basic-ma-40-demo/test.json

!checkpoint/adca-demo
checkpoint/adca-demo/*
!checkpoint/adca-demo/model_trained.pt
!checkpoint/adca-demo/train.json
!checkpoint/adca-demo/test.json

z_*
Algorithm/conc_4hist_divtree3
Algorithm/conc_4hist_divtree2
example_dca_cs*
PersonalityDevelop.pdf

